.our-blog-wrapper {
  background: var(--color-white);
}

.blog-title-banner {
  color: var(--color-doctor-title);
}

.box-sh {
  box-shadow: 0px 20px 50px 0px #12112714;
}

.badge-text {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  background: #EDE8FE33;
  color: var(--color-white);
}

.blog-card-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  font-size: var(--font-poppins);
}

.blog-right-bg-even {
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: var(--font-poppins);
}

.blog-right-bg-odd {
  background-color: var(--color-white);
  color: var(--sub-title-color);
  font-size: var(--font-poppins);
}