.headerParentWrapper {
  background-color: var(--color-white);
  width: 100%;
  /* z-index: 999; */
  /* position: sticky; */
  /* top: 0; */
}

.toolTip {
  height: 30px;
  background-color: var(--color-success);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header {

  background: var(--color-white);
  padding: 10px 0;
  z-index: 999;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 91px;
  width: 179px;
}

.logoImg {
  height: auto;
  width: auto;
  object-fit: contain;
}

.logoText {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 10px;
}

.navLink {
  font-size: 1rem;
  color: var(--color-green);
  text-decoration: none;
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 100%;
}

.navLink:hover {
  color: var(--color-green);
}

.ctaBtn {
  background-color: var(--color-green);
  color: var(--color-white);
  font-family: var(--font-poppins);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
}

.ctaBtn:hover {
  cursor: pointer;
}

/* Hide on desktop, show on mobile */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
  border-radius: 2px;
  transition: 0.3s ease;
}

/* Mobile Menu */
.mobileMenu {
  display: block;
  background: var(--color-white);
  padding: 2rem 1.375rem;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

}

.mobileNavLink {
  font-size: 1rem;
  color: var(--color-green);
  text-decoration: none;
}

/* Desktop vs Mobile */
.desktopNav {
  display: flex;
}

@media (max-width: 1024px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: flex;

  }

  .closeIcon {
    font-size: 28px;
    color: var(--color-green);
  }

  .toolTip {
    display: none;
  }

  .headerParentWrapper {

    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 640px) {
  .toolTip {
    display: none;
  }

  .headerParentWrapper {

    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
  }
}