@import "tailwindcss";

:root {
  --color-primary: #1e40af;
  --color-secondary: #6b7280;
  --color-success: #ADC89B;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #81A694;
  --button-bg-color: #2A4E42;
  --sub-title-color: #65695B;
  --color-description: #808797;
  --color-learn-btn: #2C6964;
  --color-doctor-title: #5C8C6C;
  --color-alternative-btn: #ADC89B;
  --color-specialities: #E2F0F4;
  --color-accordian-text: #3B3B3B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

html {
  font-size: 16px;
}


/* ========================
    Global classes
======================== */

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.sub-container {
  max-width: 1784px;
  margin: 0 auto;
  padding: 0 40px;
}

.hero-main-container {
  max-width: 1439px;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }

  .sub-container {
    padding: 0 20px;
  }

  .hero-main-container {
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  html {
    font-size: 12px;
  }

}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1550px) and (max-width: 1800px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2101px) and (max-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 26px;
  }
}

.primary-font {
  font-family: var(--font-poppins);
}

.secondary-font {
  font-family: var(--font-inter);
}

.text-primary-color {
  color: var(--color-secondary);

}

.text-secondary-color {
  color: var(--sub-title-color);
}

.text-color-for-bg {
  color: var(--color-accordian-text);
}

.tag-style {
  background: linear-gradient(99.53deg, #B4CCBB 0%, rgba(255, 255, 255, 0) 100%);
  height: 32px;
  max-width: 130px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}